#header {    
    display: flex;
    justify-content: flex-end;
}

#gmail {
    margin-top: 0.5%;
    margin-right: 1%;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#imgs {
    margin-top: 0.5%;
    margin-right: 1.5%;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#apps {
    margin-top: 0.3%;
    margin-right: 1%;    
}

#appsimage {
    height: 25px;
}

#signin {
    justify-content: center;
    display: flex;
    width: 6rem;
    background-color: #1a73e8;
    color: white;
    border-radius: 7%;
    margin-right: 1%;
    margin-top: 0.1%;
    
}

#signin-text {
    color: white;
    font-family: roboto, sans-serif;
    font-size: 15px;
    padding: 6% 0;
    text-decoration-line: none;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 11.5%;
}

#search-box {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 40px;    
    border-color: grey;
    border-style: solid;
    border-radius: 15%;
    position: relative;
    left: 35%
}

#searcher {
    height: 25px;
    margin-top: 1.5%;
}

#input {
    width: 100%;
    border: none;
}

#mic {
    height: 25px;
    margin-top: 1.5%;
}

#buttons {
    display: flex;
    justify-content: center;
}

#footer {
    width: 100%;
    height: 2.7em;
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
}   

#f1 {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    float: left;
    margin-left: 2%;
    margin-top: 0.5%;
}

#f2 {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    float: right;
    margin-right: 2%;
    margin-top: 0.5%;

}

.topa {
    color: rgba(0,0,0,0.87);
}

a {
    color: rgb(95,99,104);
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}